<div id="page-comparativos" class="app-page">

<div class="section-title">

📊 Comparativos Inteligentes

</div>


<div class="card">

<h3>

Categoria

</h3>

<div class="compare-options">

<button class="compare-btn active">

🔊 Áudio

</button>

<button class="compare-btn">

❄️ Ar Condicionado

</button>

</div>

</div>



<div class="card">

<h3>

Quantidade de Produtos

</h3>

<div class="compare-options">

<button class="compare-btn active">

1 x 1

</button>

<button class="compare-btn">

1 x 2

</button>

<button class="compare-btn">

1 x 3

</button>

<button class="compare-btn">

1 x 4

</button>

<button class="compare-btn">

1 x 5

</button>

</div>

</div>



<div class="card">

<h3>

Produto Principal

</h3>

<select class="compare-select">

<option>

Boombox AIWA

</option>

<option>

Party Speaker AIWA

</option>

</select>

</div>



<div class="card">

<h3>

Comparar com

</h3>


<select class="compare-select">

<option>

JBL Club 120

</option>

<option>

Philco PBS220

</option>

<option>

Mondial CM550

</option>

</select>


<select class="compare-select">

<option>

Selecione

</option>

</select>


<select class="compare-select">

<option>

Selecione

</option>

</select>


<select class="compare-select">

<option>

Selecione

</option>

</select>


<select class="compare-select">

<option>

Selecione

</option>

</select>

</div>




<div class="section-title">

Resultado

</div>


<div class="compare-wrapper">

<table class="compare-table">


<tr>

<th>

Recurso

</th>

<th>

AIWA

</th>

<th>

JBL

</th>

</tr>


<tr>

<td>

Potência

</td>

<td>

200W RMS

</td>

<td>

160W RMS

</td>

</tr>


<tr>

<td>

Bluetooth

</td>

<td>

5.3

</td>

<td>

5.1

</td>

</tr>


<tr>

<td>

Proteção

</td>

<td>

IP66

</td>

<td>

IPX4

</td>

</tr>


<tr>

<td>

TWS

</td>

<td>

✔

</td>

<td>

✔

</td>

</tr>


<tr>

<td>

App

</td>

<td>

✔

</td>

<td>

✔

</td>

</tr>


<tr>

<td>

Bass Boost

</td>

<td>

✔

</td>

<td>

✖

</td>

</tr>


<tr>

<td>

USB Powerbank

</td>

<td>

✔

</td>

<td>

✖

</td>

</tr>


<tr>

<td>

Bateria

</td>

<td>

Até 30h

</td>

<td>

Até 12h

</td>

</tr>


<tr>

<td>

Garantia

</td>

<td>

12 meses

</td>

<td>

12 meses

</td>

</tr>


</table>

</div>

</div>
