<div id="page-pilares" class="app-page">

<div class="section-title">

🛡️ Os 3 Pilares AIWA

</div>


<p class="section-description">

Muito mais do que vender produtos,
a AIWA constrói experiências.

Conheça os três pilares que sustentam a marca.

</p>



<div class="tabs-container">

<button
class="tab-btn active-tab"
onclick="switchSubTab('qualidade',this)"
>

Qualidade

</button>



<button
class="tab-btn"
onclick="switchSubTab('confianca',this)"
>

Confiança

</button>



<button
class="tab-btn"
onclick="switchSubTab('inovacao',this)"
>

Inovação

</button>

</div>



<div
id="content-qualidade"
class="tab-content"
style="display:block"
>

<!-- qualidade -->

</div>




<div
id="content-confianca"
class="tab-content"
style="display:none"
>

<!-- confianca -->

</div>




<div
id="content-inovacao"
class="tab-content"
style="display:none"
>

<!-- inovacao -->

</div>


</div>
